@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600&display=swap');

.nav-header {
  h1 {
    font-family: 'Inknut Antiqua', serif;
    text-align: center;
    margin: 2rem 0 1rem 0;
  }
  .lang-select {
    text-align: center;
    margin-bottom: 3rem;
    a {
      margin: 0 1rem;
      color: black;
      text-decoration: none;
      &::visited {
        color: black;
      }
    }
  }
}
